@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Elektronikai  Alkatrész Raki</title>
</head>

<body>
    <img src="https://www.jpauto.hu/assets/media/pages/2000/storageselves.jpg"
         alt=""
         class="card-img-top" />
</body>
</html>
